.order-summary {
  width: 70%;
  margin: auto;
  overflow: hidden;
  margin: 20px auto;
  background: antiquewhite;
  border-radius: 10px;
}
.order-summary .details {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}
.order-summary button {
  border: none;
  margin-top: 20px;
  padding: 10px 0;
  width: 100%;
}
.order-summary button .icon {
  padding-left: 5px;
  font-size: 12px;
}
.order-summary img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  background: darkgrey;
}
.order-summary .details div {
  padding: 10px 30px 10px 10px;
}
