div.container {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 400px));
  grid-gap: 40px;
  justify-content: center;
}
.order {
  width: 400px;
  height: calc(100vh - 100px);
  position: sticky;
  top: 10%;
  margin-top: 3%;
  overflow: hidden auto;
}
