.home {
  width: 100vw;
  height: 90vh;
  background: url(./banner_bg.jpg) no-repeat center center / cover;
  align-items: center;
  color: #ffffff;
  padding: 0 40px;
}
.title {
  padding: 10px 5px;
  background: #19398a;
  box-shadow: 1px 1px 10px black;
}
.text {
  font-size: 50px;
  text-shadow: 1px 1px 30px black;
  padding-left: 70px;
}
.home-content {
  position: relative;
  width: 60%;
  height: 80vh;
  z-index: 1;
  display: flex;
  align-items: center;
  padding: 0 5%;
}
.home-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(./imgjpg.jpg) no-repeat center center/ cover;
  z-index: -1;
  opacity: 0.5;
}

.img-logo {
  width: 300px;
  height: 300px;
  object-fit: contain;
  background: transparent;
}
.teams {
  width: calc(100% - 70%);
  height: auto;
  padding-bottom: 50px;
  border-radius: 5px;
  background: url(./stat-bg.jpg) no-repeat center center/ cover;
}

.team-details {
  height: 35px;
  background: white;
  color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
  border-radius: 5px;
}
.team-details h6 {
  width: 20px;
  height: 20px;
  line-height: 26px;
  text-align: center;
}
